		body {
			margin: 0;
			padding: 0;
			/*background: linear-gradient(to right, rgb(119, 0, 255), rgb(0, 42, 255), rgb(174, 0, 255));
			animation: slide 5s infinite;*/
			background-image: url('images/bg.png');
			background-size:     cover;                      /* <------ */
			background-repeat:   no-repeat;
			background-position: center center;              /* optional, center the image */
			color: #ffffff;
			font-family: Arial, sans-serif;
			font-size: 18px;
			line-height: 1.6;
			text-align: center;
		}

		h1 {
			font-size: 36px;
			margin-top: 50px;
			margin-bottom: 20px;
			color: #ffffff;
			text-transform: uppercase;
			letter-spacing: 3px;
            
		}

		.btn {
			display: inline-block;
			margin: 10px;
			padding: 15px 30px;
			background-color: #5900ff;
			color: #000000;
			border-radius: 10px;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 18px;
			font-weight: bold;
			transition: background-color 0.5s ease;
			cursor: pointer;
 	 		transition: all 0.3s ease-out;
  			perspective: 1000px; /* set the perspective for 3D transforms */
		}


		.btn::before,
		.btn::after {
			content: 'Nem elréhető';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: inherit;
			transform-style: preserve-3d; /* enable 3D transforms */
			backface-visibility: hidden; /* hide the back face of the sides */
			transition: all 0.3s ease-out;
		}

		.btn::before {
  			transform: rotateY(-90deg) translateZ(25px); /* left side */
 			 box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.5);
		}
		.btn::after {
 			transform: rotateY(90deg) translateZ(25px); /* right side */
  			box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.5);
		}

		.btn:hover {
			background-color: #9000ff;
			transform: rotateX(30deg) rotateY(-20deg); /* rotate the button on hover */
		}
		.btn:hover::after {
  			transform: rotateY(0deg) translateZ(25px); /* show the right side on hover */
		}
		.btn:hover::before {
 			 transform: rotateY(0deg) translateZ(25px); /* show the left side on hover */
		}

		.changelog {
			margin-top: 100px;
			margin-bottom: 100px;
			padding: 0 50px;
			border: 1px solid #ffffff5d;
            background-color: rgba(47, 47, 47, 0.565);
			border-radius: 10px;
			text-align: left;
		}

		.changelog h2 {
			font-size: 24px;
			margin-top: 0;
			margin-bottom: 20px;
			color: #fff;
			text-transform: uppercase;
			letter-spacing: 2px;
		}

		.changelog ul {
			margin: 0;
			padding: 0;
			list-style: none;
			line-height: 1.6;
		}
    

		.changelog li {
			margin-bottom: 10px;
			color: #fff;
			font-size: 16px;
			font-weight: bold;
		}

		.changelog p {
			margin-bottom: 20px;
			color: #fff;
			font-size: 16px;
			line-height: 1.6;
		}
        .disclaimer {
			margin-top: 2rem;
			font-size: 1rem;
			color: #888;
		}

		.disclaimer a {
			color: #888;
			text-decoration: none;
		}

		.disclaimer a:hover {
			text-decoration: underline;
		}
        .discord{
			bottom: 20px;
    		right: 20px;
        }

		.logo{
			bottom: 20px;
    		right: 20px;
        }

/* width */
::-webkit-scrollbar {
  width: 9.5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(106, 0, 255);
  background: rgb(115, 0, 255);
  border-radius: 100vw;
  margin-block: .5em;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(162, 0, 255);
  border-radius: 100vw;
  border-color: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #7f00f6;
}
/* háttér animáció */
@keyframes change-background {
      0% {
        background: #be69eb;
      }
      50% {
        background: #f700ff;
      }
      100% {
        background: #3c00ff;
      }

	  150% {
        background: #f700ff;
      }

	  200% {
        background: #be69eb;
      }
    }


	@keyframes slide {
		0% {
		  background-position: 0% 50%;
		}
		50% {
		  background-position: 100% 50%;
		}
		100% {
		  background-position: 0% 50%;
		}
	  }
